KEYCLOAK_URL=http://localhost:8081
KEYCLOAK_REALM=pkka
KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/pkka
KEYCLOAK_WEB_CLIENT_SECRET=
KEYCLOAK_MOBILE_CLIENT_SECRET=

DISCORD_GUILD_ID=

MOBILE_DEEP_LINK_SCHEME=pkka

EXPO_PUSH_ACCESS_TOKEN=

PORT=8080
